p {
    font-family: Montserrat;
    text-align: center;
    margin: 0px;
}

.heading {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

/* .emphasis {
    text-decoration: underline;
} */

span {
    text-decoration: underline;
}