div {
    background-color: black;
    width: 370px;
    height: 150px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

p {
    font-family: Arial;
}

.heading {
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.description {
    color: grey;

}