/* .thumbnail-row {
  margin-bottom: 12px;
} */

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

/* when screen width is 750px or less */
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;

}
.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author, .video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-author {
  margin-bottom: 4px;
}

/* How to fix grid elements not being side by side */
/* In the actual thing all video-preview elements are gird elements
  So there is no need to set the size of individual video-preview
  because it is a 3x3 grid so size is alloted automatically
*/

.video-time {
  position: absolute;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  bottom: 8px;
  right: 5px;

  padding: 4px;
  border-radius: 3px;
}

.video-title-link {
    color: black;
    text-decoration: none;
}

.profile-picture-container {
  position: relative;
  display: inline-block;
}

.channel-tooltip {
  position: absolute;
  top: 51px;
  z-index: 300;

  background-color: white;
  display: flex;
  align-items: center;

  width: 200px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 7px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

  pointer-events: none;

  transition: opacity 0.15s;
  opacity: 0;
}

.profile-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.channel-tooltip-picture {
  height: 50px;
  border-radius: 50px;
}

.channel-tooltip-description {
  margin-left: 10px;
}

.channel-tooltip-name {
  font-weight: bold;
  margin-bottom: 3px;
}

.channel-tooltip-stats {
  color: rgb(96, 96, 96);
  font-size: 14px;
}

@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1000px) {
  .video-author, .video-stats {
    font-size: 14px;
  }
}