.get-started-button {
    background-color: rgb(130, 87, 185);
    color: white;

    border: none;
    border-radius: 3px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: bold;
    transition: background-color 0.15s;
    margin-right: 10px;
    cursor: pointer;
}

.get-started-button:hover {
    background-color: rgb(80, 50, 120);
}

.download-button {
    background-color: white;
    color: gray;

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: gray;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: bold;
    transition: background-color 0.15s, 
        color 0.15s;    
    cursor: pointer;
}

.download-button:hover {
    background-color: gray;
    color: white;
}