.getStarted-button {
    background-color: rgb(130, 87, 185);
    color: white;
    border: none;
    width: 110px;
    height: 30px;
    font-weight: bold;
    /* font-size: 14px; */
    border-radius: 3px;
    border-spacing: 50px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.getStarted-button:hover {
    background-color: rgb(80, 50, 120);
}

.download-button {
    background-color: white;
    color: gray;
    width: 110px;
    height: 30px;
    border-radius: 3px;
    border-width: 1.5px;
    border-style:solid;
    border-color: gray;
    cursor: pointer;
    transition: background-color 0.15s, 
        color 0.15s;
    font-weight: bold;
}

.download-button:hover {
    background-color: gray;
    color: white;
}