p {
    font-family: Roboto;
    margin-top: 0px;
}

.video-title {
    /* font-family: Arial; */
    font-weight: bold;
    font-size: 18px;

    width: 300; /* for the text to wrap*/
    line-height: 22.5px; /*line spacing for the same para*/

    margin-bottom: 5px; /*spacing between para*/

}

.video-stats {
    /* font-family: Arial; */
    font-size: 14px;
    color: rgb(96, 96, 96);

    /* margin-top: 0px; */
    margin-bottom: 18px;
}

.video-maker {
    /* font-family: Arial; */
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 18px;  
}

.video-description {
    /* font-family: Arial; */
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-top: 14px;
    width: 280px;
    line-height: 22.5px;
    margin-bottom: 100px;
}

.apple {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: 100px;
    padding-right: 100px; */
    
}

.text-shop-now {
    cursor: pointer;
}

.text-shop-now:hover {
    text-decoration: underline;

}