.header {
    height: 55px;
    display: flex;
    flex-direction: row; /*this is the default value, you don't actually have to write it*/
    justify-content: space-between;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);
}

.left-section {
    /* background-color: lightblue; */
    /* width: 150px; */
    display: flex;
    align-items: center; /* for this to work, set this div to flexbox as well*/
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    /* background-color: lightpink; */
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px; /*placeholder font size differs from font size of text
                       typed in the search bar    
                    */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    /* inset puts box shadow on the inside */
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    /* search bar has default width
       set it to 0 so that it can shrink all the way 
    */
    width: 0px;
}

.search-bar::placeholder { /*sudo class*/
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192); /*same as textbox*/
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);

}

.voice-search-icon {
    height: 24px; /*images maintain their orignal ratio*/
    margin-top: 4px;
}

.right-section {
    /* background-color: lightblue; */
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* prevent shrinking 
    maintains width*/
    flex-shrink: 0px;
}

.upload-icon {
    height: 24px;

}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;

}

/* left and right section have predefined widths
   only the middle section adjusts when the window is made smaller/larger

   after some point the middle section stops grows and maintains its width
*/
